{% load static %}

<!--Main Wrapper-->
<div class="wrapper">
    <!-- Header Start -->
    <header id="header">
        <div class="main-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="logo">
                            <figure>
                                    <img src="{% static 'logo/logo.png' %}" alt="YourAIresearcher" width="250">
                                </a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="login-option">
                            {% if user.is_authenticated %}
                            <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'login' %}">My Account</a>
                            <a class="cs-color cs-popup-joinus-btn login-popup text-danger" href="{% url 'logout' %}">Logout</a>
                            {% else %}
                            <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'login' %}">Login</a> / 
                                <span><a href="{% url 'register' %}" class="cs-color cs-popup-joinus-btn login-popup ml-0">Register</a></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
