@charset "UTF-8";
/*
  This is the styling for the YourAIHelper chatbot

  SECTIONS
  1. Accordion
  2. navbar
*/

/* SECTION: Accordion for sources #ACCORDION/

/* Hide all the accordions when the page loads #ACCORDION */
.accordion-content {
  display: none;
}

/* Hide all the accordion content when it is not activated by a button click #ACCORDION */
.accordion-content.active {
  display: block;
}

/* Style the accordion buttons for each source #ACCORDION */
.accordion-button {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 5px 18px;  /* 5px top/bottom padding, 18px left/right padding */
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* # Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) #ACCORDION */
.accordion-button.active, .accordion-button:hover {
  background-color: #ccc;
}

/* Add an expand icon to the accordion buttons #ACCORDION */
.accordion-button:after {
  content: '\25BC'; /* Unicode character for downward point triangle */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

/* Add a collapse icon to the accordion buttons #ACCORDION */
.accordion-button.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* SECTION: navbar */

.vcenter {
  display: flex;
  align-items: center;
}

.vcenter-row {
  display: flex;
  align-items: center;
}