{% extends 'base.html' %}

{% block content %}
<style>
    #id_meta_fields { height: 100px; } /* You can adjust the pixel value based on your needs */

    #id_meta_fields, #id_text_column, #id_namespace {
        display: block;  /* makes the form elements take the full width and appear below the label */
        width: 50%;  /* take the full available width */
        margin-top: 5px;  /* add a little spacing between the label and the form field for aesthetics */
    }
    /* Responsive styles for mobile devices */
    @media screen and (max-width: 768px) {
        #id_meta_fields, #id_text_column, #id_namespace {
            width: 100%;  /* take full width on mobile devices */
        }
    }
</style>
<div class="container py-5">
    <!-- Add the header and explainer that is identical to /upload_from_csv.html - keep them in synch manually -->
    <div class="header text-center">
        <h1 class="display-4">Add content via a table</h1>
    </div>

    <br>
    <p class="mb-3"><b>Explainer: </b>If you have already split your text into segments you can upload it via a CSV file.  One column should contain rows with your segements of text. The other columns can contain metadata about the whole data set or individual segments.</p>
    
    <br>
    <p class="mb-3"><b>Step 2: </b>Select the colummns with the text segments, the other columns you want included as metadata, and give your library a name. 
        If you enter the name of a library you already have it will add the data to that library, but make sure the fields you are selecting match the fields the library already has.</p>
    
    <!-- End of header and explainer -->

    <!-- The form begins here -->
    <form action="{% url 'add_data_from_csv' %}" method="post" class="mb-4" onsubmit="onFormSubmit();">
        {% csrf_token %}

        <!-- form.text_column -->
        <div class="mb-3">
            <label class="form-label">Column containing the text segments (click the down arrow to see all fields):</label>
            {{ form.text_column }}
        </div>

        <!-- form.meta_fields -->
        <div class="mb-3 ">
            <label class="form-label">Columns to include as metadata (use CTRL to multi-select):</label>
            {{ form.meta_fields }}
        </div>

        <!-- form.namespace -->
        <div class="mb-3">
            <label class="form-label">The name for your library:</label>
            {{ form.namespace }}
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary" id="SubmitCSV2">Submit</button>
        </div>
    </form>
</div>

<script>
    function onFormSubmit() {
        var btn = document.getElementById("SubmitCSV2");
        btn.textContent = "Working on it...";
        btn.disabled = true;
    }
</script>
{% endblock %}
