{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    .center-content {
        text-align: center; /* Centers the content of the div */
    }

    .center-content p, 
    .center-content form {
        display: inline-block; /* Makes the block elements (like paragraph and form) inline elements */
        text-align: left; /* Aligns the content of those elements to the left */
        margin: 0.5em 0;  /* Provides vertical spacing between elements */
    }

    .center-content label {
        display: inline-block; /* Ensures label remains inline with input */
        margin-right: 10px; /* Space between label and input field */
    }
</style>

<div class="container py-5">
    <div class="header text-center">
        <h1 class="display-4">Enter New Password</h1>
    </div>

    <br>
    <div class="center-content">
        <form method="post" class="py-4">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Change password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
