{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    .center-form-fields {
        text-align: center; /* Centers the content of the form */
    }

    .center-form-fields p {
        display: inline-block; /* Makes the block with label and input field an inline element */
        text-align: left; /* Aligns the content of that block to the left */
        margin: 0.5em 0;  /* Provides vertical spacing between form elements */
    }

    .center-form-fields label {
        display: inline-block; /* Ensures label remains inline with input */
        margin-right: 10px; /* Space between label and input field */
    }
</style>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6"> <!-- Adjust column width as needed -->
            <div class="header text-center">
                <h1 class="display-4">Reset Password</h1>
            </div>
            <br>
            <form method="post" class="py-4 center-form-fields">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Send password reset email</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

