{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    .center-content {
        text-align: center; /* Centers the content of the div */
    }

    .center-content p {
        display: inline-block; /* Makes the paragraph an inline element */
        text-align: left; /* Aligns the content of that paragraph to the left */
        margin: 0.5em 0;  /* Provides vertical spacing between elements */
    }
</style>

<div class="container py-5">
    <div class="header text-center">
        <h1 class="display-4">Password Reset</h1>
    </div>

    <br>
    <div class="center-content">
        <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
    </div>
</div>
{% endblock %}

